/* custom.css */

/* Styles pour le sidebarPanel */
.custom-sidebar {
    background-color: #ecf0f5; /* Couleur de fond du sidebarPanel */
}

/* Styles pour le mainPanel */
.custom-main {
    background-color: #ecf0f5; /* Couleur de fond du mainPanel */
}




.custom-icon {
  font-size: 18px; /* Taille de l'icône */
 /* color: #5bc0de; /* Couleur de l'icône */
  margin-right: 20px;
}


.custom-div {
    padding: 10px 20px;
    border-radius: 17px;
    box-shadow: 0 0 0 transparent, 0 0 0 transparent, 6px 4px 25px #d6d6d6;
    margin-bottom: 20px;
}




.custom-dropdown {
    box-shadow: 0 0 0 transparent, 0 0 0 transparent, 2px 1px 5px #d6d6d6;
    font-size: 10px;
}




.custom-header {
  background-color: #e9ecef;
  padding: 10px;
}

.custom-body {
  background-color: white;
  padding: 10px;
}

.custom-title {
    font-family: 'Roboto', sans-serif;
}


